<h1>Lista de Inmuebles</h1>

{% if inmuebles %}
<form method="get">
    <!-- Filtro de Tipo -->
    <label for="tipo">Tipo:</label>
    <select name="tipo" id="tipo">
        <option value="">Todos</option>
        <option value="Casa" {% if tipo=="Casa" %}selected{% endif %}>Casa</option>
        <option value="Local" {% if tipo=="Local" %}selected{% endif %}>Local</option>
        <option value="Cochera" {% if tipo=="Cochera" %}selected{% endif %}>Cochera</option>
        <option value="Departamento" {% if tipo=="Departamento" %}selected{% endif %}>Departamento</option>
    </select>

    <!-- Filtro de Huéspedes -->
    <label for="huespedes">Cantidad mínima de huéspedes:</label>
    <input type="number" name="huespedes" id="huespedes" min="1" value="{{ huespedes|default:'' }}">

    <!-- Filtro de Metros -->
    <label for="metros">Metros cuadrados mínimos:</label>
    <input type="number" name="metros" id="metros" min="1" value="{{ metros|default:'' }}">

    <button type="submit">Filtrar</button>
    <a href="?" class="btn btn-secondary">Limpiar filtros</a>
</form>

<hr>

<ul>
    {% for inmueble in inmuebles %}
    <li>
        <strong>Nombre:</strong> {{ inmueble.Nombre}}<br>
        <strong>Descripción:</strong> {{ inmueble.descripcion }}<br>
        <strong>Tipo:</strong> {{ inmueble.tipo }}<br>
        <strong>Metros cuadrados:</strong> {{ inmueble.metros_cuadrados }}<br>
        <strong>Huéspedes:</strong> {{ inmueble.cantidad_huespedes }}<br>
        <strong>Dirección:</strong> {{ inmueble.calle }} {{ inmueble.numero }}, {{ inmueble.ciudad }}, {{
        inmueble.provincia }}, {{ inmueble.pais }}<br>
        <strong>Estado:</strong> {{ inmueble.estado }}<br>
        <strong>Precio por día:</strong> ${{ inmueble.precio_diario }}
        <a href="{% url 'ver_disponibilidad' inmueble_id=inmueble.id %}" class="btn btn-primary">Fechas Disponibles</a>
        <hr>
    </li>
    {% endfor %}
</ul>

{% else%}

<h3> Aun no hay inmuebles cargados.</h3>
{% endif %}