{% extends 'base.html' %}

{% block title %}Editar Usuario{% endblock %}
{% block content %}
<div style="max-width: 500px; margin: auto;">
    <h2 class="mb-4">Editar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'rol' %}
                <p>
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}
                        <span style="color: red;">{{ field.errors.as_text }}</span>
                    {% endif %}
                </p>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <p>Rol: {{ form.instance.get_rol_display }}</p>
        <div style="margin-bottom: 1em;">
          <a href="{% url 'password_change' %}" class="btn btn-primary">Cambiar contraseña</a>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Guardar cambios</button>
        </div>
    </form>

</div>
{% endblock %}
